NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1

MONGODB_URI=mongodb://localhost:27017/printopay

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_FOLDER=printopay/documents

CLIENT_ORIGIN=http://localhost:8081,http://localhost:8083,http://localhost:3001
MAX_UPLOAD_MB=25

JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
ADMIN_SETUP_KEY=replace_with_private_admin_setup_key
